@import "./variables";

body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 32px;
}

.table-fixed {
    table-layout: fixed;
}

.calendar-container {
    // background-color: $color-weekday;
}

.display-grid {
    display: grid !important;
}
.grid-col-7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}



